.name{
    color: black;
    font-weight: 900;
    padding-top: 0;
    margin-top: 0;
}

.text-content {
    flex-grow: 1; /* Allow the text content to grow and fill the available space */
    flex-wrap: wrap;
    display: flex;
}

.intro{
    text-align: left; 
    padding-right: 4rem;
}

.first{
    padding-bottom: 3rem;
}

.picture{
    height: auto;
    width: 10rem;
    padding-right: 3rem;
}

.Team-t{
    padding-left: 8rem;
    padding-right: 8rem;

} 

.about-header{
    font-size: x-large;
    padding-bottom: 1rem;
    align-self: center;
}

.box{
    display: inline-flex;

}