.parent{
    margin-top: 3rem;
}
.port__containerb {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.port_itemb {
    padding: 1.2rem;
    border-radius: 2rem;
    height: fit-content;
    width: fit-content;;
}

.port-item-imageb {
    height: 100%; 
    width: 100%; 
}

.port-item-imageb img {
    height: 100%; 
    width: 100%; 
}

.port_itemb h3{
    margin: 1.2rem 0 2rem;
    color: black;
} 

h2{
    color: white;
    padding: 0;
    border: 0;
    margin: 0;
}

li{
    color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 4px;
    padding: 2px 3px;
}

li:hover{
    text-decoration: underline;
} 

.buy_button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: rgb(22, 23, 22);;
    height: fit-content;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

p{
    color:black;
    margin: 0;
}

.pages{
    display: flex;
    justify-content: center;
    gap: 0;
    height: 50%;
}

.page{
    height: 100%;
    width: auto;
    border: 1px solid black;
    border-radius: 4px;
}

.excerpt{
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    background-color: rgb(22, 23, 22);;
    padding-bottom: 3rem;
    border-radius: 10px;
}

.sneak{
    padding-left: 3rem;
    padding-top: 2rem;
    font-weight: 900;
}


.book-sub{
    margin-top: 2rem;
}

.next-book{
    margin-top: 2rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: rgb(22, 23, 22);;
    height: fit-content;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .port__containerb {
        grid-template-columns: 1fr 1fr; /* Adjust the column proportions for smaller screens */
        gap: 1.2rem;
    }
    h2{
        margin-bottom:0rem;
        height: fit-content;
        width: fit;
    }

    .next-book {
        margin-top: 48rem;
    }
}

/* CSS for smaller screens */
@media screen and (max-width: 600px) {
    .port__containerb {
        display: block; /* Change to block-level layout for smaller screens */
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 0rem;
    }

    

    /* Adjust the width and layout for each article in smaller screens */
    .port_itemb {
        width: 100%; 
        
    }

    h2{
        margin-bottom:1rem;
    }
    .next-book {
        margin-top: 5rem;
    }
}
