.home-intro{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    height: 40%;
    justify-items: center;
}

.name-side {
    background-color: rgb(47, 54, 145);
    background-color:  rgb(22, 23, 22);
    color: white;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-side{
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.words{
    align-self: center;
}

.front-name{
    color: white;
}

.welcome{
    margin-bottom: 0;
    font-weight: 700;
    color: black;
}

.greeting{
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: large;
}

.home-des{
    margin-top: 0;
}