li {
    color: black;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-nav{
    color: black;
    text-decoration: none;
    padding: 0;
}

.footer-nav:hover{
    color: black;
    text-decoration: black underline;
}

.footer-cols section{
    align-items: center;
}


.footer-socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin-bottom: 4rem;
    width: fit-content;
}

.footer-socials a{
    color: black;
    width: fit-content;
    padding: 2px;
} 

.socials{
    height: 10px;
    width: auto;
}

.title {
    color: black;
    font-size: medium;
    margin: 0;
}

.colys {
    list-style: none; /* Remove default list styles */
    align-items: center;
    padding-left: 0;

}

@media screen and (max-width: 1024px) {
    .footer-cols {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .footer-cols {
        grid-template-columns: 1fr;
    }

    h2 {
        margin-top: 20px; /* Add spacing above h2 on mobile */
    }
}
